<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wade.mapper.FriendMapper">
    <resultMap id="friend" type="top.wade.entity.Friend">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="description" column="description"/>
        <result property="website" column="website"/>
        <result property="avatar" column="avatar"/>
        <result property="published" column="is_published"/>
        <result property="views" column="views"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询友链List-->
    <select id="getFriendList" resultMap="friend">
        select id, nickname, description, website, avatar, is_published, views, create_time from friend
    </select>

    <resultMap id="friendVO" type="top.wade.model.vo.Friend">
        <result property="nickname" column="nickname"/>
        <result property="description" column="description"/>
        <result property="website" column="website"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <!--查询友链VO List-->
    <select id="getFriendVOList" resultMap="friendVO">
        select nickname, description, website, avatar from friend where is_published=true order by rand()
    </select>

    <!--增加友链浏览次数-->
    <update id="updateViewsByNickname">
        update friend set views = views + 1 where nickname = #{nickname}
    </update>

</mapper>